body {
    background: darkgrey;
    margin: 0;
    padding: 0;
    font-family: verdana;
}

.title {
    padding-top: 0.5cm;
    /*align-content: center;*/
    text-align: center;
    margin-right: auto;
    margin-left: auto;
}

.main {
    padding-top: 1cm;
    margin: 10px 10px 10px 10px;
    text-align: center;

}

.tile-pool {
    border: 1px solid black;
    height: auto;

}

.tile {
    width: 55px;
    height: 70px;
    overflow: hidden;
    margin-left: 1px;
    padding-top: 1px;
    /**background-color: #0000cc;*/
}

.tile:hover {
    width: 60px;
    height: 75px;
    overflow: hidden;
}